.c-arrowLink {
    display: inline-block;
    line-height: 20px;

    &::after,
    &::before {
        background-color: var(--color-link);
        display: inline-block;
        height: 16px;
        mask-position: center;
        mask-repeat: no-repeat;
        position: relative;
        top: -1px;
        vertical-align: middle;
        width: 8px;
    }   

    &--left {
        &::before {
            content: '';
            mask-image: url('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 16"><polyline points="6.5 13 1.5 8 6.5 3" fill="none" stroke="%23000" stroke-miterlimit="10"/></svg>');
            margin-right: 6px;
        }
    }

    &--right {
        &::after {
            content: '';
            mask-image: url('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 16"><polyline points="1.5 3 6.5 8 1.5 13" fill="none" stroke="%23000" stroke-miterlimit="10"/></svg>');
            margin-left: 6px;
        }
    }

    &--small {
        font-size: font-size(s);

        &::after,
        &::before {
            top: 0;
        }
    }
}