.c-button {
    @include font-1;
    appearance: none;
    background-color: #EEE;
    border-radius: var(--border-radius);
    border: none;
    cursor: pointer;
    display: inline-block;
    font-size: font-size(m);
    font-weight: 500;
    height: 48px;
    line-height: 20px;
    padding: 14px 24px;

    &:active {
        padding-bottom: 11px;
        padding-top: 13px;
    }

    &:hover {
        text-decoration: none;
    }
    
    &--primary {
        background-color: var(--color-1);
        color: #FFF;
    }
}