.c-formField {
    &__label {
        display: inline-block;
        font-weight: 500;
        margin-bottom: space(s);

        &--required {
            &::after {
                color: var(--color-alert);
                content: '*';
                display: inline-block;
                margin-left: 2px;
            }
        }
    }

    &__description {
        color: var(--color-text-lc);
        font-size: font-size(s);
        margin-top: space(s, -1);
        margin-bottom: 12px;
    }

    &__note {
        color: var(--color-text-lc);
        font-size: font-size(s);
        margin-top: space(s);
    }
}