.c-identification {
    &__image {
        // mix-blend-mode: multiply;
        border-radius: var(--border-radius);
        margin-bottom: space(l);
    }

    &__text {
        // padding: space(l) 0;
    }

    &__title {
        margin-bottom: space(s);
    }

    &__description {
        font-size: font-size(s);
    }
}