@keyframes identifierStep {
    0% { opacity: 0; transform: translateY(-8px); }
    100% { opacity: 1; transform: translateY(0); }
}

.c-identifier {
    &__steps {
        @include screen-max(m) {
            margin-bottom: space(xl, -1);
        }

        @include screen-min(m) {
            border-radius: var(--border-radius);
        }
    }

    &__step {
        background: rgb(var(--color-bg-tint));
        border-radius: var(--border-radius);
        display: none;
        padding-bottom: 32px;
        padding-top: 32px;
        text-align: center;

        &:not(:first-child) {
            animation: identifierStep var(--duration-medium) both ease-out;
            margin-top: 4px;
        }
    }

    &__question {
        font-size: font-size(l);
        font-weight: 700;
        margin-bottom: space(l);
    }

    &__answers {
        @include screen-min(m) {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
            grid-gap: 8px;
        }
    }

    &__answer {
        position: relative;
        user-select: none;

        @include screen-max(m) {
            &:not(:last-child) {
                margin-bottom: space(s);
            }
        }
    }

    &__answerInput {
        height: 0;
        left: 0;
        opacity: 0;
        position: absolute;
        user-select: none;
        top: 0;
        width: 0;
    }

    &__answerLabel {
        box-shadow: inset 0 0 0 1px rgba(var(--color-1), 0.25);
        border-radius: var(--border-radius);
        cursor: pointer;
        display: flex;
        height: 100%;
        padding: space(m);
        transition: box-shadow var(--duration-fast) ease;

        span {
            margin: auto;
        }

        .c-identifier__answerInput:focus + & {
            box-shadow: inset 0 0 0 2px rgba(var(--color-1), 0.25);
        }

        .c-identifier__answerInput:checked + & {
            box-shadow: inset 0 0 0 2px rgb(var(--color-1)) !important;
        }
    }

    &__suggestions {
        border-radius: var(--border-radius);

        &:empty {
            display: none;
        }
    }

    &__suggestionList {
        display: flex;

        @include screen-max(m) {
            flex-wrap: nowrap;
            margin: 0 -24px;
            overflow: auto;
            scroll-snap-type: x mandatory;
            max-width: 100vw;
            min-width: 0;
            width: 100vw;

            &::-webkit-scrollbar { 
                display: none; 
            }
        }

        @include screen-min(m) {
            margin: 0 -12px -24px -12px;
            flex-wrap: wrap;
        }
    }

    &__suggestionListItem {
        @include screen-max(m) {
            border-left: 24px solid transparent;
            border-right: 24px solid transparent;
            flex: 0 0 calc(100vw - 72px);
            scroll-snap-align: start;

            &:not(:first-child) {
                margin-left: -24px;
            }
        }

        @include screen-min(m) {
            flex: 0 0 33.33333%;
            padding: 0 12px 24px 12px;
        }
    }

    &__suggestionImage {
        border-radius: var(--border-radius);
        margin-bottom: space(m);
    }

    &__suggestionTitle {
        margin-bottom: space(s);
    }

    &__suggestionDescription {
        font-size: font-size(s);
        margin-bottom: space(s);
    }    

    &__report {
        .c-button {
            @include screen-max(m) {
                display: block;
                margin-top: space(l);
                width: 100%;
            }
        }

        @include screen-min(m) {
            align-items: center;
            display: flex;
            justify-content: space-between;
        }
    }

    &[data-identifier-current-step='1'] {
        .c-identifier__step[data-identifier-step='1'] {
            display: block;
        }
    }

    &[data-identifier-current-step='2'] {
        .c-identifier__step[data-identifier-step='1'],
        .c-identifier__step[data-identifier-step='2'] {
            display: block;
        }
    }

    &[data-identifier-current-step='3'] {
        .c-identifier__step[data-identifier-step='1'],
        .c-identifier__step[data-identifier-step='2'],
        .c-identifier__step[data-identifier-step='3'] {
            display: block;
        }
    }
}