.c-languageSelector {
    background: rgba(var(--color-1), 0.25);
    display: none;
    height: 100%;
    left: 0;
    padding: 8px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;

    &__window {
        background: rgb(var(--color-bg));
        border-radius: var(--border-radius);
        box-shadow: 0 16px 48px rgba(var(--color-1), 0.25);
        padding: 40px;
        flex: 0 1 480px;
        margin: auto;
        max-width: 480px;
        text-align: center;
    }

    &__title {
        margin-bottom: 24px;
    }

    &__list {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;
    }

    &__listItem {
        flex: 0 0 33.33333%;
        width: 33.33333%;
    }

    &__link {
        border-radius: var(--border-radius);
        display: block;
        padding: 16px;
        text-decoration: none;

        &:hover,
        &:focus {
            background: rgb(var(--color-bg-tint));
        }
    }

    &__flag {
        box-shadow: 0 2px 4px rgba(var(--color-1), 0.25);
    }

    &__language {
        display: block;
        font-size: var(--font-size-s);
        padding-top: 12px;

        .is-current & {
            font-weight: 700;
        }
    }

    &.is-visible {
        display: flex;
    }
}