@keyframes locationPickerLocationArrow {
    0% { transform: translateY(-8px); }
    100% { transform: translateY(0); }
}

@keyframes locationPickerLabelDone {
    0% { transform: scale(0.5); }
    75% { transform: scale(1.25); }
    100% { transform: scale(1); }
}

.c-locationPicker {
    position: relative;

    @include screen-max(m) {
        margin-left: space(l, -1);
        margin-right: space(l, -1);
    }

    &__tabs {
        display: flex;
        justify-content: space-between;
        position: relative;
        z-index: 2;
    }

    &__tab {
        flex: 0 0 50%;
        position: relative;
    }

    &__option {
        height: 1px;
        left: 0;
        opacity: 0;
        position: absolute;
        top: 0;
        width: 1px;
    }

    &__label {
        align-items: center;
        border-top: 1px solid var(--color-border);
        cursor: pointer;
        display: flex;
        height: 48px;
        justify-content: space-between;
        padding: 0 12px 1px 44px;
        position: relative;

        @include screen-min(m) {
            .c-locationPicker__tab:first-child & {
                border-left: 1px solid var(--color-border);
                border-top-left-radius: var(--border-radius);
            }

            .c-locationPicker__tab:last-child & {
                border-right: 1px solid var(--color-border);
                border-top-right-radius: var(--border-radius);
            }
        }

        .c-locationPicker__option:checked + & {
            background-color: var(--color-bg-alt);
            border-color: var(--color-bg-alt);
            color: var(--color-text-alt);

            &::after {
                animation: locationPickerLocationArrow var(--duration-fast) both ease;
                border-left: 8px solid transparent;
                border-right: 8px solid transparent;
                border-top: 8px solid var(--color-bg-alt);
                bottom: -8px;
                content: '';
                width: 0; 
                left: 50%;
                margin-left: -8px;
                position: absolute;
                height: 0; 
            }

            .c-locationPicker__labelIcon {
                fill: var(--color-bg);
            }
        }
    }

    &__labelIcon {
        fill: var(--color-bg-alt);
        height: 28px;
        left: space(l, 0.5);
        margin-top: -15px;
        position: absolute;
        top: 50%;
        width: 20px;
    }

    &__labelHeading {
        font-weight: 500;
    }

    &__labelCoords {
        @include font-mono;
        color: var(--color-text-lc);
        font-size: font-size(s);
        position: relative;
        top: 1px;
    }

    &__labelDone {
        animation: locationPickerLabelDone var(--duration-medium) both ease;
        display: none;
        fill: var(--color-success);
        height: 24px;
        width: 24px;

        .is-done & {
            display: block;
        }
    }

    &__mapContainer {
        background: var(--color-bg-tint);
        border-radius: 0 0 var(--border-radius) var(--border-radius);
        height: 0;
        overflow: hidden;
        padding-top: 75%;
        position: relative;
        width: 100%;
        z-index: 1;

        @include screen-min(m) {
            border: 1px solid var(--color-border);
            border-top: none;
        }
    }

    &__map {
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
    }
}

.marker-object {
    background-image: url('/assets/img/markers/object.svg');
    background-size: cover;
    height: 42px;
    display: block;
    width: 30px;
}

.marker-object-directional {
    background-image: url('/assets/img/markers/object-directional.svg');
    background-size: cover;
    height: 42px;
    display: block;
    width: 30px;
}

.marker-observer {
    background-image: url('/assets/img/markers/observer.svg');
    background-size: cover;
    height: 42px;
    display: block;
    width: 30px;
}