.c-meta {
    display: flex;

    &__item {
        color: var(--color-text-light);

        &:not(:last-child) {
            margin-right: 0.375em;

            &::after {
                content: '•';
                display: block;
                float: right;
                margin-left: 0.375em;
                opacity: 0.5;
            }
        }

        a {
            color: var(--color-text-light);
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    &--small {
        font-size: font-size(s);
    }

    &--white {
        .c-meta__item {
            color: rgba(#FFF, 0.66);

            a {
                color: rgba(#FFF, 0.66);
            }
        }
    }
}