.c-reportCard {
    border-radius: calc(var(--border-radius) * 2);
    height: 0;
    overflow: hidden;
    padding-top: 75%;
    position: relative;
    user-select: none;
    width: 100%;

    &__image,
    &__link {
        display: block;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
    }

    &__image {
        background-color: #EEE;
        object-fit: cover;
        object-position: center;
    }

    &__link {
        background-color: rgba(#000, 0.1);
        background-image: url('/assets/img/bg-report-card-link.png');
        background-size: 100% 100%;
        color: transparent;
        transition: 250ms ease;
        will-change: background-color;
    }

    &__text {
        bottom: space(m);
        color: #FFF;
        left: space(m);
        position: absolute;
        right: space(m);
    }

    &__title {
        color: #FFF;
        margin-bottom: space(xs);

        a {
            color: #FFF;
        }
    }

    &:hover {
        .c-reportCard__link {
            background-color: rgba(#000, 0);
        }
    }
}