.c-reportListItem {
    align-items: center;
    border-top: 1px solid var(--color-border);
    display: flex;
    padding: 12px 0;

    &__flex {
        flex: 1;
    }

    &__title {
        color: var(--color-text);
        font-weight: 500;
    }

    &__media {
        display: flex;
        font-size: font-size(s);
    }

    &__comments {
        align-items: center;
        color: var(--color-text-light);
        display: flex;
        height: 32px;
        justify-content: center;
        margin-right: 4px;
        padding: 0 8px;
        min-width: 32px;
    }

    &__commentsCount {
        display: inline-block;
        font-size: font-size(2);
        margin-right: 6px;
        text-decoration: none;
    }

    &__mediaItem {
        border-radius: 50%;
        display: flex;
        height: 32px;
        min-width: 32px;
        pointer-events: none;

        &--active {
            background-color: rgba(var(--color-success-rgb), 0.1);
            pointer-events: all;

            svg {
                fill: var(--color-success);
                opacity: 1;
            }
        }

        &--comments {
            padding-left: 6px;
        }

        &:not(:last-child) {
            margin-right: 4px;
        }
    }

    &__icon {
        fill: var(--color-text-light);
        height: 18px;
        margin: auto;
        opacity: 0.25;
        width: 18px;
    }
}