.c-reports {
    &__dateGroup {
        align-items: flex-start;
        border-top: 1px solid var(--color-border);
        display: flex;

        .c-reportListItem:first-child {
            border-top: none;
        }
    }

    &__date {
        color: var(--color-1);
        font-weight: 500;
        padding: 12px 0;
        top: 0;
        width: 40px;
    }

    &__list {
        flex: 1;
    }

    &__report {
        border-top: 1px solid var(--color-border);
        display: flex;
        padding: 12px 0;
    }

    &__reportFlex {
        flex: 1;
    }

    &__reportTitle {
        color: var(--color-text);
        font-weight: 500;
    }

    &__reportIcons {
        display: flex;
        font-size: font-size(s);
    }

    &__reportIcon {
        height: 16px;
        width: 16px;
    }
}