.c-section {
    padding-bottom: space(xxl);
    padding-top: space(xxl);

    @include screen-min(m) {
        padding-bottom: space(3xl);
        padding-top: space(3xl);
    }

    &--tint {
        background-color: var(--color-bg-tint);
    }
}