.c-stats {
    background-color: var(--color-2);
    color: #FFF;
    padding: space(xxl) 0;

    &__value {
        @include font-1;
        @include tabular-numbers;
        color: var(--color-1);
        font-size: font-size(3xl);
        font-variant-numeric: tabular-nums;
        line-height: line-height(xs);
        font-weight: 400;
        margin-bottom: 12px;
    }
}