.c-top {
    align-items: center;
    box-shadow: 0 1px 0 rgba(#000, 0.1);
    display: flex;
    justify-content: space-between;
    height: 88px;
    padding: 0 32px;

    &__logo {
        align-items: center;
        color: var(--color-text);
        display: flex;
        font-size: font-size(l);
        font-weight: 600;

        &:hover {
            text-decoration: none;
        }
    }

    &__logoIcon {
        fill: var(--color-3);
        height: 40px;
        margin-right: 12px;
        width: 40px;
    }

    &__logoText {
        position: relative;
        top: -2px;
    }

    &__nav {
        align-items: center;
        display: none;

        @include screen-min(m) {
            display: flex;
        }
    }

    &__menu {
        display: flex;
    }

    &__menuItem {
        margin-right: 24px;
    }

    &__menuLink {
        color: var(--color-text-light);
        font-weight: 500;
        transition: color var(--duration-fast);

        &:hover {
            color: var(--color-text);
            text-decoration: none;
        }
    }
}