:root {
    // Type
    --font-1: 'Noto Sans', sans-serif;
    --font-1-spacing: -0.01em;
    --font-mono: 'Noto Sans Mono', monospace;
    --font-mono-spacing: -0.01em;
    --font-size-s: 14px;
    --font-size-m: 16px;
    --font-size-l: 18px;
    --font-size-xl: 32px;
    --line-height-s: 1.25;
    --line-height-m: 1.5;
    --line-height-l: 1.75;

    --border-radius: 4px;

    // Color
    --color-1: 16, 16, 96;              // #101060
    --color-2: 191, 233, 249;           // #BFE9F9

    // --color-1: 0, 51, 153;           // #003399
    // --color-2: 0, 153, 255;          // #0099FF

    --color-bg: 255, 255, 255;          // #FFFFFF
    --color-bg-tint: 239, 250, 254;     // #EFFAFE
    // --color-bg-tint: 243, 246, 252;     // #F3F6FC

    --color-text: 0, 51, 153;           // #000000
    --color-text-muted: 153, 153, 204;  // #9999CC

    --color-status-bad: 255, 51 51;     // #FF3333;
    --color-status-good: 51, 204, 102;  // #33CC66

    --color-border: #E3E3E3;
    --color-border-rgb: 227, 227, 227;
    --color-border-focus: #131313;

    --color-input-border: #DDDEE0;
    --color-input-border-hover: #DDDEE0;
    --color-input-border-focus: rgba(var(--color-1-rgb), 0.9);
    --color-input-outline: rgba(var(--color-1-rgb), 0.125);
    --color-input-placeholder: #BBBDC1; // 30% text

    --color-link: var(--color-1);


    --duration-fast: 150ms;
    --duration-medium: 250ms;
    --duration-slow: 500ms;
}

@media (min-width: 1024px) {
    :root {
        --font-size-s: 14px;
        --font-size-m: 16px;
        --font-size-l: 20px;
        --font-size-xl: 40px;
    }
}

$font-sizes: (
    xxs: 0.625rem, // 10px,
     xs: 0.75rem,  // 12px,
      s: 0.875rem, // 14px
      m: 1rem,     // 16px
      l: 1.125rem, // 18px
     xl: 1.5rem,   // 24px
    xxl: 2rem,     // 32px
    3xl: 2.5rem,   // 40px
    4xl: 3rem,     // 48px
    5xl: 4rem,     // 64px
    6xl: 5rem,     // 80px
) !default;

$grid-columns: 8 !default;

$line-heights: (
      xs: 1,
       s: 1.25,
       m: 1.5,
       l: 1.8,
      xl: 2,
) !default;

$screens: (
    xs: 320px,
     s: 375px,
     m: 768px,
     l: 1024px,
    xl: 1280px,
) !default;

$spaces: (
    xxs: 0.125rem, // 2px
     xs: 0.25rem,  // 4px
      s: 0.5rem,   // 8px
      m: 1rem,     // 16px
      l: 1.5rem,   // 24px
     xl: 2rem,     // 32px
    xxl: 3rem,     // 48px
    3xl: 4rem,     // 64px
    4xl: 5rem,     // 80px
    5xl: 6rem,     // 96px
    6xl: 7rem,     // 112px
) !default;

$wrapper-widths: (
    s: 640px,
    m: 800px,
    l: 1440px,
) !default;