.o-wrapper {
    margin: 0 auto;
    max-width: 1280px;
    padding: 0 space(l);
    width: 100%;

    @include screen-min(m) {
        padding-left: space(xxl);
        padding-right: space(xxl);
    }

    &__bleed {
        margin-left: space(l, -1);
        margin-right: space(l, -1);
        padding-left: space(l);
        padding-right: space(l);

        @include screen-min(m) {
            margin-left: space(xxl, -1);
            margin-right: space(xxl, -1);
            padding-left: space(xxl);
            padding-right: space(xxl);
        }
    }

    &--narrow {
        max-width: 800px;
    }
}