@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/
   v5.0.1 | 20191019
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, menu, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
  display: block;
}

/* HTML5 hidden-attribute fix for newer browsers */
*[hidden] {
  display: none;
}

body {
  line-height: 1;
}

menu, ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

:root {
  --font-1: "Noto Sans", sans-serif;
  --font-1-spacing: -0.01em;
  --font-mono: "Noto Sans Mono", monospace;
  --font-mono-spacing: -0.01em;
  --font-size-s: 14px;
  --font-size-m: 16px;
  --font-size-l: 18px;
  --font-size-xl: 32px;
  --line-height-s: 1.25;
  --line-height-m: 1.5;
  --line-height-l: 1.75;
  --border-radius: 4px;
  --color-1: 16, 16, 96;
  --color-2: 191, 233, 249;
  --color-bg: 255, 255, 255;
  --color-bg-tint: 239, 250, 254;
  --color-text: 0, 51, 153;
  --color-text-muted: 153, 153, 204;
  --color-status-bad: 255, 51 51;
  --color-status-good: 51, 204, 102;
  --color-border: #E3E3E3;
  --color-border-rgb: 227, 227, 227;
  --color-border-focus: #131313;
  --color-input-border: #DDDEE0;
  --color-input-border-hover: #DDDEE0;
  --color-input-border-focus: rgba(var(--color-1-rgb), 0.9);
  --color-input-outline: rgba(var(--color-1-rgb), 0.125);
  --color-input-placeholder: #BBBDC1;
  --color-link: var(--color-1);
  --duration-fast: 150ms;
  --duration-medium: 250ms;
  --duration-slow: 500ms;
}

@media (min-width: 1024px) {
  :root {
    --font-size-s: 14px;
    --font-size-m: 16px;
    --font-size-l: 20px;
    --font-size-xl: 40px;
  }
}
@-webkit-keyframes spinner {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes spinner {
  100% {
    transform: rotate(360deg);
  }
}
a {
  color: var(--color-link);
  text-decoration: underline;
}
body {
  font-family: var(--font-1);
  letter-spacing: var(--font-1-spacing);
  color: rgb(var(--color-text));
  line-height: 1.5;
  text-rendering: optimizelegibility;
}
body.is-loading, body.is-loading * {
  cursor: wait;
  pointer-events: none;
}

*,
*::after,
*::before {
  font-family: var(--font-1);
  letter-spacing: var(--font-1-spacing);
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  outline: none;
}

h1 {
  color: rgb(var(--color-1));
  font-size: var(--font-size-xl);
  font-weight: 700;
  letter-spacing: -0.025em;
  line-height: var(--line-height-s);
}
@media (min-width: 768px) {
  h1 {
    font-size: 40px;
  }
}

h2 {
  color: var(--color-1);
  font-size: var(--font-size-l);
  font-weight: 700;
  letter-spacing: -0.025em;
  line-height: var(--line-height-s);
}

h3 {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.25;
}

h4 {
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1.25;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

input {
  outline: none;
}

input::-moz-placeholder {
  color: var(--color-input-placeholder);
  font-family: var(--font-1);
  opacity: 1;
  text-transform: none;
}

input:-ms-input-placeholder {
  color: var(--color-input-placeholder);
  font-family: var(--font-1);
  opacity: 1;
  text-transform: none;
}

input::placeholder {
  color: var(--color-input-placeholder);
  font-family: var(--font-1);
  opacity: 1;
  text-transform: none;
}

input::-ms-input-placeholder {
  color: var(--color-input-placeholder);
  font-family: var(--font-1);
  opacity: 1;
  text-transform: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-transition: background 9999s;
  transition: background 9999s;
  transition-delay: 9999s;
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  -webkit-appearance: none;
          appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.o-grid {
  display: flex;
  flex-flow: row wrap;
}
.o-grid__col {
  flex: 0 0 100%;
  max-width: 100%;
}
.o-grid--center {
  justify-content: center;
}
.o-grid--middle {
  align-items: center;
}
.o-grid--evenly {
  justify-content: space-evenly;
}

/**
 * Grid columns
 */
.o-grid__col--1\/1 {
  flex-basis: 100%;
  max-width: 100%;
}

.o-grid__col--1\/2 {
  flex-basis: 50%;
  max-width: 50%;
}

.o-grid__col--1\/3 {
  flex-basis: 33.3333333333%;
  max-width: 33.3333333333%;
}

.o-grid__col--1\/4 {
  flex-basis: 25%;
  max-width: 25%;
}

.o-grid__col--1\/5 {
  flex-basis: 20%;
  max-width: 20%;
}

.o-grid__col--1\/6 {
  flex-basis: 16.6666666667%;
  max-width: 16.6666666667%;
}

.o-grid__col--1\/7 {
  flex-basis: 14.2857142857%;
  max-width: 14.2857142857%;
}

.o-grid__col--1\/8 {
  flex-basis: 12.5%;
  max-width: 12.5%;
}

.o-grid__col--2\/3 {
  flex-basis: 66.66666%;
  max-width: 66.66666%;
}

.o-grid__col--3\/4 {
  flex-basis: 75%;
  max-width: 75%;
}

@media (min-width: 320px) {
  .xs\:o-grid__col--1\/1 {
    flex-basis: 100%;
    max-width: 100%;
  }

  .xs\:o-grid__col--1\/2 {
    flex-basis: 50%;
    max-width: 50%;
  }

  .xs\:o-grid__col--1\/3 {
    flex-basis: 33.3333333333%;
    max-width: 33.3333333333%;
  }

  .xs\:o-grid__col--1\/4 {
    flex-basis: 25%;
    max-width: 25%;
  }

  .xs\:o-grid__col--1\/5 {
    flex-basis: 20%;
    max-width: 20%;
  }

  .xs\:o-grid__col--1\/6 {
    flex-basis: 16.6666666667%;
    max-width: 16.6666666667%;
  }

  .xs\:o-grid__col--1\/7 {
    flex-basis: 14.2857142857%;
    max-width: 14.2857142857%;
  }

  .xs\:o-grid__col--1\/8 {
    flex-basis: 12.5%;
    max-width: 12.5%;
  }

  .xs\:o-grid__col--2\/3 {
    flex-basis: 66.66666%;
    max-width: 66.66666%;
  }

  .xs\:o-grid__col--3\/4 {
    flex-basis: 75%;
    max-width: 75%;
  }
}
@media (min-width: 375px) {
  .s\:o-grid__col--1\/1 {
    flex-basis: 100%;
    max-width: 100%;
  }

  .s\:o-grid__col--1\/2 {
    flex-basis: 50%;
    max-width: 50%;
  }

  .s\:o-grid__col--1\/3 {
    flex-basis: 33.3333333333%;
    max-width: 33.3333333333%;
  }

  .s\:o-grid__col--1\/4 {
    flex-basis: 25%;
    max-width: 25%;
  }

  .s\:o-grid__col--1\/5 {
    flex-basis: 20%;
    max-width: 20%;
  }

  .s\:o-grid__col--1\/6 {
    flex-basis: 16.6666666667%;
    max-width: 16.6666666667%;
  }

  .s\:o-grid__col--1\/7 {
    flex-basis: 14.2857142857%;
    max-width: 14.2857142857%;
  }

  .s\:o-grid__col--1\/8 {
    flex-basis: 12.5%;
    max-width: 12.5%;
  }

  .s\:o-grid__col--2\/3 {
    flex-basis: 66.66666%;
    max-width: 66.66666%;
  }

  .s\:o-grid__col--3\/4 {
    flex-basis: 75%;
    max-width: 75%;
  }
}
@media (min-width: 768px) {
  .m\:o-grid__col--1\/1 {
    flex-basis: 100%;
    max-width: 100%;
  }

  .m\:o-grid__col--1\/2 {
    flex-basis: 50%;
    max-width: 50%;
  }

  .m\:o-grid__col--1\/3 {
    flex-basis: 33.3333333333%;
    max-width: 33.3333333333%;
  }

  .m\:o-grid__col--1\/4 {
    flex-basis: 25%;
    max-width: 25%;
  }

  .m\:o-grid__col--1\/5 {
    flex-basis: 20%;
    max-width: 20%;
  }

  .m\:o-grid__col--1\/6 {
    flex-basis: 16.6666666667%;
    max-width: 16.6666666667%;
  }

  .m\:o-grid__col--1\/7 {
    flex-basis: 14.2857142857%;
    max-width: 14.2857142857%;
  }

  .m\:o-grid__col--1\/8 {
    flex-basis: 12.5%;
    max-width: 12.5%;
  }

  .m\:o-grid__col--2\/3 {
    flex-basis: 66.66666%;
    max-width: 66.66666%;
  }

  .m\:o-grid__col--3\/4 {
    flex-basis: 75%;
    max-width: 75%;
  }
}
@media (min-width: 1024px) {
  .l\:o-grid__col--1\/1 {
    flex-basis: 100%;
    max-width: 100%;
  }

  .l\:o-grid__col--1\/2 {
    flex-basis: 50%;
    max-width: 50%;
  }

  .l\:o-grid__col--1\/3 {
    flex-basis: 33.3333333333%;
    max-width: 33.3333333333%;
  }

  .l\:o-grid__col--1\/4 {
    flex-basis: 25%;
    max-width: 25%;
  }

  .l\:o-grid__col--1\/5 {
    flex-basis: 20%;
    max-width: 20%;
  }

  .l\:o-grid__col--1\/6 {
    flex-basis: 16.6666666667%;
    max-width: 16.6666666667%;
  }

  .l\:o-grid__col--1\/7 {
    flex-basis: 14.2857142857%;
    max-width: 14.2857142857%;
  }

  .l\:o-grid__col--1\/8 {
    flex-basis: 12.5%;
    max-width: 12.5%;
  }

  .l\:o-grid__col--2\/3 {
    flex-basis: 66.66666%;
    max-width: 66.66666%;
  }

  .l\:o-grid__col--3\/4 {
    flex-basis: 75%;
    max-width: 75%;
  }
}
@media (min-width: 1280px) {
  .xl\:o-grid__col--1\/1 {
    flex-basis: 100%;
    max-width: 100%;
  }

  .xl\:o-grid__col--1\/2 {
    flex-basis: 50%;
    max-width: 50%;
  }

  .xl\:o-grid__col--1\/3 {
    flex-basis: 33.3333333333%;
    max-width: 33.3333333333%;
  }

  .xl\:o-grid__col--1\/4 {
    flex-basis: 25%;
    max-width: 25%;
  }

  .xl\:o-grid__col--1\/5 {
    flex-basis: 20%;
    max-width: 20%;
  }

  .xl\:o-grid__col--1\/6 {
    flex-basis: 16.6666666667%;
    max-width: 16.6666666667%;
  }

  .xl\:o-grid__col--1\/7 {
    flex-basis: 14.2857142857%;
    max-width: 14.2857142857%;
  }

  .xl\:o-grid__col--1\/8 {
    flex-basis: 12.5%;
    max-width: 12.5%;
  }

  .xl\:o-grid__col--2\/3 {
    flex-basis: 66.66666%;
    max-width: 66.66666%;
  }

  .xl\:o-grid__col--3\/4 {
    flex-basis: 75%;
    max-width: 75%;
  }
}
/**
 * Grid gaps
 */
.o-grid--gap-xxs {
  margin: 0 -0.0625rem -0.125rem -0.0625rem;
}
.o-grid--gap-xxs > .o-grid__col {
  padding: 0 0.0625rem 0.125rem 0.0625rem;
}

.o-grid--gap-xs {
  margin: 0 -0.125rem -0.25rem -0.125rem;
}
.o-grid--gap-xs > .o-grid__col {
  padding: 0 0.125rem 0.25rem 0.125rem;
}

.o-grid--gap-s {
  margin: 0 -0.25rem -0.5rem -0.25rem;
}
.o-grid--gap-s > .o-grid__col {
  padding: 0 0.25rem 0.5rem 0.25rem;
}

.o-grid--gap-m {
  margin: 0 -0.5rem -1rem -0.5rem;
}
.o-grid--gap-m > .o-grid__col {
  padding: 0 0.5rem 1rem 0.5rem;
}

.o-grid--gap-l {
  margin: 0 -0.75rem -1.5rem -0.75rem;
}
.o-grid--gap-l > .o-grid__col {
  padding: 0 0.75rem 1.5rem 0.75rem;
}

.o-grid--gap-xl {
  margin: 0 -1rem -2rem -1rem;
}
.o-grid--gap-xl > .o-grid__col {
  padding: 0 1rem 2rem 1rem;
}

.o-grid--gap-xxl {
  margin: 0 -1.5rem -3rem -1.5rem;
}
.o-grid--gap-xxl > .o-grid__col {
  padding: 0 1.5rem 3rem 1.5rem;
}

.o-grid--gap-3xl {
  margin: 0 -2rem -4rem -2rem;
}
.o-grid--gap-3xl > .o-grid__col {
  padding: 0 2rem 4rem 2rem;
}

.o-grid--gap-4xl {
  margin: 0 -2.5rem -5rem -2.5rem;
}
.o-grid--gap-4xl > .o-grid__col {
  padding: 0 2.5rem 5rem 2.5rem;
}

.o-grid--gap-5xl {
  margin: 0 -3rem -6rem -3rem;
}
.o-grid--gap-5xl > .o-grid__col {
  padding: 0 3rem 6rem 3rem;
}

.o-grid--gap-6xl {
  margin: 0 -3.5rem -7rem -3.5rem;
}
.o-grid--gap-6xl > .o-grid__col {
  padding: 0 3.5rem 7rem 3.5rem;
}

@media (min-width: 320px) {
  .xs\:o-grid--gap-xxs {
    margin: 0 -0.0625rem -0.125rem -0.0625rem;
  }
  .xs\:o-grid--gap-xxs > .o-grid__col {
    padding: 0 0.0625rem 0.125rem 0.0625rem;
  }

  .xs\:o-grid--gap-xs {
    margin: 0 -0.125rem -0.25rem -0.125rem;
  }
  .xs\:o-grid--gap-xs > .o-grid__col {
    padding: 0 0.125rem 0.25rem 0.125rem;
  }

  .xs\:o-grid--gap-s {
    margin: 0 -0.25rem -0.5rem -0.25rem;
  }
  .xs\:o-grid--gap-s > .o-grid__col {
    padding: 0 0.25rem 0.5rem 0.25rem;
  }

  .xs\:o-grid--gap-m {
    margin: 0 -0.5rem -1rem -0.5rem;
  }
  .xs\:o-grid--gap-m > .o-grid__col {
    padding: 0 0.5rem 1rem 0.5rem;
  }

  .xs\:o-grid--gap-l {
    margin: 0 -0.75rem -1.5rem -0.75rem;
  }
  .xs\:o-grid--gap-l > .o-grid__col {
    padding: 0 0.75rem 1.5rem 0.75rem;
  }

  .xs\:o-grid--gap-xl {
    margin: 0 -1rem -2rem -1rem;
  }
  .xs\:o-grid--gap-xl > .o-grid__col {
    padding: 0 1rem 2rem 1rem;
  }

  .xs\:o-grid--gap-xxl {
    margin: 0 -1.5rem -3rem -1.5rem;
  }
  .xs\:o-grid--gap-xxl > .o-grid__col {
    padding: 0 1.5rem 3rem 1.5rem;
  }

  .xs\:o-grid--gap-3xl {
    margin: 0 -2rem -4rem -2rem;
  }
  .xs\:o-grid--gap-3xl > .o-grid__col {
    padding: 0 2rem 4rem 2rem;
  }

  .xs\:o-grid--gap-4xl {
    margin: 0 -2.5rem -5rem -2.5rem;
  }
  .xs\:o-grid--gap-4xl > .o-grid__col {
    padding: 0 2.5rem 5rem 2.5rem;
  }

  .xs\:o-grid--gap-5xl {
    margin: 0 -3rem -6rem -3rem;
  }
  .xs\:o-grid--gap-5xl > .o-grid__col {
    padding: 0 3rem 6rem 3rem;
  }

  .xs\:o-grid--gap-6xl {
    margin: 0 -3.5rem -7rem -3.5rem;
  }
  .xs\:o-grid--gap-6xl > .o-grid__col {
    padding: 0 3.5rem 7rem 3.5rem;
  }
}
@media (min-width: 375px) {
  .s\:o-grid--gap-xxs {
    margin: 0 -0.0625rem -0.125rem -0.0625rem;
  }
  .s\:o-grid--gap-xxs > .o-grid__col {
    padding: 0 0.0625rem 0.125rem 0.0625rem;
  }

  .s\:o-grid--gap-xs {
    margin: 0 -0.125rem -0.25rem -0.125rem;
  }
  .s\:o-grid--gap-xs > .o-grid__col {
    padding: 0 0.125rem 0.25rem 0.125rem;
  }

  .s\:o-grid--gap-s {
    margin: 0 -0.25rem -0.5rem -0.25rem;
  }
  .s\:o-grid--gap-s > .o-grid__col {
    padding: 0 0.25rem 0.5rem 0.25rem;
  }

  .s\:o-grid--gap-m {
    margin: 0 -0.5rem -1rem -0.5rem;
  }
  .s\:o-grid--gap-m > .o-grid__col {
    padding: 0 0.5rem 1rem 0.5rem;
  }

  .s\:o-grid--gap-l {
    margin: 0 -0.75rem -1.5rem -0.75rem;
  }
  .s\:o-grid--gap-l > .o-grid__col {
    padding: 0 0.75rem 1.5rem 0.75rem;
  }

  .s\:o-grid--gap-xl {
    margin: 0 -1rem -2rem -1rem;
  }
  .s\:o-grid--gap-xl > .o-grid__col {
    padding: 0 1rem 2rem 1rem;
  }

  .s\:o-grid--gap-xxl {
    margin: 0 -1.5rem -3rem -1.5rem;
  }
  .s\:o-grid--gap-xxl > .o-grid__col {
    padding: 0 1.5rem 3rem 1.5rem;
  }

  .s\:o-grid--gap-3xl {
    margin: 0 -2rem -4rem -2rem;
  }
  .s\:o-grid--gap-3xl > .o-grid__col {
    padding: 0 2rem 4rem 2rem;
  }

  .s\:o-grid--gap-4xl {
    margin: 0 -2.5rem -5rem -2.5rem;
  }
  .s\:o-grid--gap-4xl > .o-grid__col {
    padding: 0 2.5rem 5rem 2.5rem;
  }

  .s\:o-grid--gap-5xl {
    margin: 0 -3rem -6rem -3rem;
  }
  .s\:o-grid--gap-5xl > .o-grid__col {
    padding: 0 3rem 6rem 3rem;
  }

  .s\:o-grid--gap-6xl {
    margin: 0 -3.5rem -7rem -3.5rem;
  }
  .s\:o-grid--gap-6xl > .o-grid__col {
    padding: 0 3.5rem 7rem 3.5rem;
  }
}
@media (min-width: 768px) {
  .m\:o-grid--gap-xxs {
    margin: 0 -0.0625rem -0.125rem -0.0625rem;
  }
  .m\:o-grid--gap-xxs > .o-grid__col {
    padding: 0 0.0625rem 0.125rem 0.0625rem;
  }

  .m\:o-grid--gap-xs {
    margin: 0 -0.125rem -0.25rem -0.125rem;
  }
  .m\:o-grid--gap-xs > .o-grid__col {
    padding: 0 0.125rem 0.25rem 0.125rem;
  }

  .m\:o-grid--gap-s {
    margin: 0 -0.25rem -0.5rem -0.25rem;
  }
  .m\:o-grid--gap-s > .o-grid__col {
    padding: 0 0.25rem 0.5rem 0.25rem;
  }

  .m\:o-grid--gap-m {
    margin: 0 -0.5rem -1rem -0.5rem;
  }
  .m\:o-grid--gap-m > .o-grid__col {
    padding: 0 0.5rem 1rem 0.5rem;
  }

  .m\:o-grid--gap-l {
    margin: 0 -0.75rem -1.5rem -0.75rem;
  }
  .m\:o-grid--gap-l > .o-grid__col {
    padding: 0 0.75rem 1.5rem 0.75rem;
  }

  .m\:o-grid--gap-xl {
    margin: 0 -1rem -2rem -1rem;
  }
  .m\:o-grid--gap-xl > .o-grid__col {
    padding: 0 1rem 2rem 1rem;
  }

  .m\:o-grid--gap-xxl {
    margin: 0 -1.5rem -3rem -1.5rem;
  }
  .m\:o-grid--gap-xxl > .o-grid__col {
    padding: 0 1.5rem 3rem 1.5rem;
  }

  .m\:o-grid--gap-3xl {
    margin: 0 -2rem -4rem -2rem;
  }
  .m\:o-grid--gap-3xl > .o-grid__col {
    padding: 0 2rem 4rem 2rem;
  }

  .m\:o-grid--gap-4xl {
    margin: 0 -2.5rem -5rem -2.5rem;
  }
  .m\:o-grid--gap-4xl > .o-grid__col {
    padding: 0 2.5rem 5rem 2.5rem;
  }

  .m\:o-grid--gap-5xl {
    margin: 0 -3rem -6rem -3rem;
  }
  .m\:o-grid--gap-5xl > .o-grid__col {
    padding: 0 3rem 6rem 3rem;
  }

  .m\:o-grid--gap-6xl {
    margin: 0 -3.5rem -7rem -3.5rem;
  }
  .m\:o-grid--gap-6xl > .o-grid__col {
    padding: 0 3.5rem 7rem 3.5rem;
  }
}
@media (min-width: 1024px) {
  .l\:o-grid--gap-xxs {
    margin: 0 -0.0625rem -0.125rem -0.0625rem;
  }
  .l\:o-grid--gap-xxs > .o-grid__col {
    padding: 0 0.0625rem 0.125rem 0.0625rem;
  }

  .l\:o-grid--gap-xs {
    margin: 0 -0.125rem -0.25rem -0.125rem;
  }
  .l\:o-grid--gap-xs > .o-grid__col {
    padding: 0 0.125rem 0.25rem 0.125rem;
  }

  .l\:o-grid--gap-s {
    margin: 0 -0.25rem -0.5rem -0.25rem;
  }
  .l\:o-grid--gap-s > .o-grid__col {
    padding: 0 0.25rem 0.5rem 0.25rem;
  }

  .l\:o-grid--gap-m {
    margin: 0 -0.5rem -1rem -0.5rem;
  }
  .l\:o-grid--gap-m > .o-grid__col {
    padding: 0 0.5rem 1rem 0.5rem;
  }

  .l\:o-grid--gap-l {
    margin: 0 -0.75rem -1.5rem -0.75rem;
  }
  .l\:o-grid--gap-l > .o-grid__col {
    padding: 0 0.75rem 1.5rem 0.75rem;
  }

  .l\:o-grid--gap-xl {
    margin: 0 -1rem -2rem -1rem;
  }
  .l\:o-grid--gap-xl > .o-grid__col {
    padding: 0 1rem 2rem 1rem;
  }

  .l\:o-grid--gap-xxl {
    margin: 0 -1.5rem -3rem -1.5rem;
  }
  .l\:o-grid--gap-xxl > .o-grid__col {
    padding: 0 1.5rem 3rem 1.5rem;
  }

  .l\:o-grid--gap-3xl {
    margin: 0 -2rem -4rem -2rem;
  }
  .l\:o-grid--gap-3xl > .o-grid__col {
    padding: 0 2rem 4rem 2rem;
  }

  .l\:o-grid--gap-4xl {
    margin: 0 -2.5rem -5rem -2.5rem;
  }
  .l\:o-grid--gap-4xl > .o-grid__col {
    padding: 0 2.5rem 5rem 2.5rem;
  }

  .l\:o-grid--gap-5xl {
    margin: 0 -3rem -6rem -3rem;
  }
  .l\:o-grid--gap-5xl > .o-grid__col {
    padding: 0 3rem 6rem 3rem;
  }

  .l\:o-grid--gap-6xl {
    margin: 0 -3.5rem -7rem -3.5rem;
  }
  .l\:o-grid--gap-6xl > .o-grid__col {
    padding: 0 3.5rem 7rem 3.5rem;
  }
}
@media (min-width: 1280px) {
  .xl\:o-grid--gap-xxs {
    margin: 0 -0.0625rem -0.125rem -0.0625rem;
  }
  .xl\:o-grid--gap-xxs > .o-grid__col {
    padding: 0 0.0625rem 0.125rem 0.0625rem;
  }

  .xl\:o-grid--gap-xs {
    margin: 0 -0.125rem -0.25rem -0.125rem;
  }
  .xl\:o-grid--gap-xs > .o-grid__col {
    padding: 0 0.125rem 0.25rem 0.125rem;
  }

  .xl\:o-grid--gap-s {
    margin: 0 -0.25rem -0.5rem -0.25rem;
  }
  .xl\:o-grid--gap-s > .o-grid__col {
    padding: 0 0.25rem 0.5rem 0.25rem;
  }

  .xl\:o-grid--gap-m {
    margin: 0 -0.5rem -1rem -0.5rem;
  }
  .xl\:o-grid--gap-m > .o-grid__col {
    padding: 0 0.5rem 1rem 0.5rem;
  }

  .xl\:o-grid--gap-l {
    margin: 0 -0.75rem -1.5rem -0.75rem;
  }
  .xl\:o-grid--gap-l > .o-grid__col {
    padding: 0 0.75rem 1.5rem 0.75rem;
  }

  .xl\:o-grid--gap-xl {
    margin: 0 -1rem -2rem -1rem;
  }
  .xl\:o-grid--gap-xl > .o-grid__col {
    padding: 0 1rem 2rem 1rem;
  }

  .xl\:o-grid--gap-xxl {
    margin: 0 -1.5rem -3rem -1.5rem;
  }
  .xl\:o-grid--gap-xxl > .o-grid__col {
    padding: 0 1.5rem 3rem 1.5rem;
  }

  .xl\:o-grid--gap-3xl {
    margin: 0 -2rem -4rem -2rem;
  }
  .xl\:o-grid--gap-3xl > .o-grid__col {
    padding: 0 2rem 4rem 2rem;
  }

  .xl\:o-grid--gap-4xl {
    margin: 0 -2.5rem -5rem -2.5rem;
  }
  .xl\:o-grid--gap-4xl > .o-grid__col {
    padding: 0 2.5rem 5rem 2.5rem;
  }

  .xl\:o-grid--gap-5xl {
    margin: 0 -3rem -6rem -3rem;
  }
  .xl\:o-grid--gap-5xl > .o-grid__col {
    padding: 0 3rem 6rem 3rem;
  }

  .xl\:o-grid--gap-6xl {
    margin: 0 -3.5rem -7rem -3.5rem;
  }
  .xl\:o-grid--gap-6xl > .o-grid__col {
    padding: 0 3.5rem 7rem 3.5rem;
  }
}
.o-page {
  display: flex;
}
.o-page__main {
  flex: 1;
}
.o-page__sidebar {
  margin-left: 3rem;
  width: 300px;
}

.o-wrapper {
  margin: 0 auto;
  max-width: 1280px;
  padding: 0 1.5rem;
  width: 100%;
}
@media (min-width: 768px) {
  .o-wrapper {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}
.o-wrapper__bleed {
  margin-left: -1.5rem;
  margin-right: -1.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
@media (min-width: 768px) {
  .o-wrapper__bleed {
    margin-left: -3rem;
    margin-right: -3rem;
    padding-left: 3rem;
    padding-right: 3rem;
  }
}
.o-wrapper--narrow {
  max-width: 800px;
}

.c-arrowLink {
  display: inline-block;
  line-height: 20px;
}
.c-arrowLink::after, .c-arrowLink::before {
  background-color: var(--color-link);
  display: inline-block;
  height: 16px;
  -webkit-mask-position: center;
          mask-position: center;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  position: relative;
  top: -1px;
  vertical-align: middle;
  width: 8px;
}
.c-arrowLink--left::before {
  content: "";
  -webkit-mask-image: url('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 16"><polyline points="6.5 13 1.5 8 6.5 3" fill="none" stroke="%23000" stroke-miterlimit="10"/></svg>');
          mask-image: url('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 16"><polyline points="6.5 13 1.5 8 6.5 3" fill="none" stroke="%23000" stroke-miterlimit="10"/></svg>');
  margin-right: 6px;
}
.c-arrowLink--right::after {
  content: "";
  -webkit-mask-image: url('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 16"><polyline points="1.5 3 6.5 8 1.5 13" fill="none" stroke="%23000" stroke-miterlimit="10"/></svg>');
          mask-image: url('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 16"><polyline points="1.5 3 6.5 8 1.5 13" fill="none" stroke="%23000" stroke-miterlimit="10"/></svg>');
  margin-left: 6px;
}
.c-arrowLink--small {
  font-size: 0.875rem;
}
.c-arrowLink--small::after, .c-arrowLink--small::before {
  top: 0;
}

.c-button {
  font-family: var(--font-1);
  letter-spacing: var(--font-1-spacing);
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: #EEE;
  border-radius: var(--border-radius);
  border: none;
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  font-weight: 500;
  height: 48px;
  line-height: 20px;
  padding: 14px 24px;
}
.c-button:active {
  padding-bottom: 11px;
  padding-top: 13px;
}
.c-button:hover {
  text-decoration: none;
}
.c-button--primary {
  background-color: var(--color-1);
  color: #FFF;
}

.c-header {
  margin-bottom: 3rem;
}

.c-formField__label {
  display: inline-block;
  font-weight: 500;
  margin-bottom: 0.5rem;
}
.c-formField__label--required::after {
  color: var(--color-alert);
  content: "*";
  display: inline-block;
  margin-left: 2px;
}
.c-formField__description {
  color: var(--color-text-lc);
  font-size: 0.875rem;
  margin-top: -0.5rem;
  margin-bottom: 12px;
}
.c-formField__note {
  color: var(--color-text-lc);
  font-size: 0.875rem;
  margin-top: 0.5rem;
}

@-webkit-keyframes identifierStep {
  0% {
    opacity: 0;
    transform: translateY(-8px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes identifierStep {
  0% {
    opacity: 0;
    transform: translateY(-8px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@media (max-width: 767px) {
  .c-identifier__steps {
    margin-bottom: -2rem;
  }
}
@media (min-width: 768px) {
  .c-identifier__steps {
    border-radius: var(--border-radius);
  }
}
.c-identifier__step {
  background: rgb(var(--color-bg-tint));
  border-radius: var(--border-radius);
  display: none;
  padding-bottom: 32px;
  padding-top: 32px;
  text-align: center;
}
.c-identifier__step:not(:first-child) {
  -webkit-animation: identifierStep var(--duration-medium) both ease-out;
          animation: identifierStep var(--duration-medium) both ease-out;
  margin-top: 4px;
}
.c-identifier__question {
  font-size: 1.125rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
}
@media (min-width: 768px) {
  .c-identifier__answers {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
    grid-gap: 8px;
  }
}
.c-identifier__answer {
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
@media (max-width: 767px) {
  .c-identifier__answer:not(:last-child) {
    margin-bottom: 0.5rem;
  }
}
.c-identifier__answerInput {
  height: 0;
  left: 0;
  opacity: 0;
  position: absolute;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  top: 0;
  width: 0;
}
.c-identifier__answerLabel {
  box-shadow: inset 0 0 0 1px rgba(var(--color-1), 0.25);
  border-radius: var(--border-radius);
  cursor: pointer;
  display: flex;
  height: 100%;
  padding: 1rem;
  transition: box-shadow var(--duration-fast) ease;
}
.c-identifier__answerLabel span {
  margin: auto;
}
.c-identifier__answerInput:focus + .c-identifier__answerLabel {
  box-shadow: inset 0 0 0 2px rgba(var(--color-1), 0.25);
}
.c-identifier__answerInput:checked + .c-identifier__answerLabel {
  box-shadow: inset 0 0 0 2px rgb(var(--color-1)) !important;
}
.c-identifier__suggestions {
  border-radius: var(--border-radius);
}
.c-identifier__suggestions:empty {
  display: none;
}
.c-identifier__suggestionList {
  display: flex;
}
@media (max-width: 767px) {
  .c-identifier__suggestionList {
    flex-wrap: nowrap;
    margin: 0 -24px;
    overflow: auto;
    -ms-scroll-snap-type: x mandatory;
        scroll-snap-type: x mandatory;
    max-width: 100vw;
    min-width: 0;
    width: 100vw;
  }
  .c-identifier__suggestionList::-webkit-scrollbar {
    display: none;
  }
}
@media (min-width: 768px) {
  .c-identifier__suggestionList {
    margin: 0 -12px -24px -12px;
    flex-wrap: wrap;
  }
}
@media (max-width: 767px) {
  .c-identifier__suggestionListItem {
    border-left: 24px solid transparent;
    border-right: 24px solid transparent;
    flex: 0 0 calc(100vw - 72px);
    scroll-snap-align: start;
  }
  .c-identifier__suggestionListItem:not(:first-child) {
    margin-left: -24px;
  }
}
@media (min-width: 768px) {
  .c-identifier__suggestionListItem {
    flex: 0 0 33.33333%;
    padding: 0 12px 24px 12px;
  }
}
.c-identifier__suggestionImage {
  border-radius: var(--border-radius);
  margin-bottom: 1rem;
}
.c-identifier__suggestionTitle {
  margin-bottom: 0.5rem;
}
.c-identifier__suggestionDescription {
  font-size: 0.875rem;
  margin-bottom: 0.5rem;
}
@media (max-width: 767px) {
  .c-identifier__report .c-button {
    display: block;
    margin-top: 1.5rem;
    width: 100%;
  }
}
@media (min-width: 768px) {
  .c-identifier__report {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }
}
.c-identifier[data-identifier-current-step="1"] .c-identifier__step[data-identifier-step="1"] {
  display: block;
}
.c-identifier[data-identifier-current-step="2"] .c-identifier__step[data-identifier-step="1"],
.c-identifier[data-identifier-current-step="2"] .c-identifier__step[data-identifier-step="2"] {
  display: block;
}
.c-identifier[data-identifier-current-step="3"] .c-identifier__step[data-identifier-step="1"],
.c-identifier[data-identifier-current-step="3"] .c-identifier__step[data-identifier-step="2"],
.c-identifier[data-identifier-current-step="3"] .c-identifier__step[data-identifier-step="3"] {
  display: block;
}

.c-inputDate {
  display: flex;
}
.c-inputDate .c-inputSelect {
  z-index: 1;
}
.c-inputDate .c-inputSelect:nth-child(1) {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  margin-right: -1px;
  width: 80px;
}
.c-inputDate .c-inputSelect:nth-child(2) {
  border-radius: 0;
  flex: 1;
  margin-right: -1px;
}
.c-inputDate .c-inputSelect:nth-child(3) {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  width: 100px;
}
.c-inputDate .c-inputSelect:focus-within {
  z-index: 4;
}

.c-inputDuration {
  display: flex;
}
.c-inputDuration .c-inputText {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  margin-right: -1px;
  position: relative;
  width: 80px;
  z-index: 1;
}
.c-inputDuration .c-inputText:focus {
  z-index: 3;
}
.c-inputDuration .c-inputSelect {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  flex: 1;
  z-index: 2;
}
.c-inputDuration .c-inputSelect:focus-within {
  z-index: 3;
}

.c-inputSelect {
  font-family: var(--font-1);
  letter-spacing: var(--font-1-spacing);
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: var(--color-bg);
  border-radius: var(--border-radius);
  box-shadow: inset 0 0 0 1px var(--color-border);
  color: var(--color-text);
  display: block;
  font-size: 1rem;
  height: 48px;
  line-height: 20px;
  overflow: hidden;
  padding: 14px;
  position: relative;
  transition: var(--duration-fast);
  white-space: nowrap;
  width: 100%;
  will-change: box-shadow;
}
.c-inputSelect__select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  display: block;
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  white-space: nowrap;
  width: 100%;
}
.c-inputSelect__select[disabled] {
  cursor: not-allowed;
}
.c-inputSelect__select[disabled] + .c-inputSelect__label {
  color: var(--color-text-lc);
}
.c-inputSelect__label {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  will-change: color;
}
.c-inputSelect::after {
  background-color: var(--color-text-lc);
  -webkit-mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><path fill="none" stroke="%23000" d="M14 5l-6 6-6-6"/></svg>');
          mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><path fill="none" stroke="%23000" d="M14 5l-6 6-6-6"/></svg>');
  -webkit-mask-position: center;
          mask-position: center;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-size: 16px 16px;
          mask-size: 16px 16px;
  content: "";
  display: block;
  height: 48px;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
  width: 48px;
}
.c-inputSelect:focus-within {
  box-shadow: inset 0 0 0 2px var(--color-border-focus);
}
.c-formField--condensed .c-inputSelect {
  height: 40px;
  padding: 9px 13px;
}
.c-formField--condensed .c-inputSelect::after {
  height: 38px;
  width: 38px;
}

.c-inputText {
  font-family: var(--font-1);
  letter-spacing: var(--font-1-spacing);
  font-variant-ligatures: none;
  font-feature-settings: "tnum" 1;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: var(--color-bg);
  box-shadow: inset 0 0 0 1px var(--color-border);
  border: none;
  border-radius: var(--border-radius);
  color: var(--color-text);
  display: block;
  font-size: 1rem;
  height: 48px;
  line-height: 20px;
  min-width: 0;
  padding: 14px;
  transition: var(--duration-fast);
  width: 100%;
  will-change: box-shadow;
}
.c-inputText:hover {
  border-color: var(--color-input-border-hover);
}
.c-inputText:focus {
  box-shadow: inset 0 0 0 2px var(--color-border-focus);
}
.c-inputText--mono {
  font-family: var(--font-mono);
  letter-spacing: var(--font-mono-spacing);
}
.c-inputText--rounded {
  border-radius: 24px;
  padding-left: 24px;
}

.c-inputTextarea {
  font-variant-ligatures: none;
  font-feature-settings: "tnum" 1;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: var(--color-bg);
  border: none;
  border-radius: var(--input-border-radius);
  border: 1px solid var(--input-color-border);
  box-shadow: 0 0 0 3px transparent;
  color: color(text);
  display: block;
  font-family: var(--font-1);
  font-size: 1rem;
  line-height: 1.5;
  padding: 13px;
  resize: none;
  transition: var(--duration-fast);
  width: 100%;
}
.c-inputTextarea--condensed {
  padding: 9px 13px;
}
.c-inputTextarea:hover {
  border-color: var(--input-color-border-hover);
}
.c-inputTextarea:focus {
  border-color: var(--input-color-border-focus);
  box-shadow: 0 0 0 3px var(--input-color-outline);
}
.is-error .c-inputTextarea, .c-inputTextarea.is-error {
  border-color: var(--input-color-border-error);
}

.c-inputTime {
  font-feature-settings: "tnum" 1;
  align-items: center;
  background: var(--color-bg);
  border-radius: var(--border-radius);
  box-shadow: inset 0 0 0 1px var(--color-border);
  display: flex;
  height: 48px;
  justify-content: center;
  width: 80px;
}
.c-inputTime__input {
  font-family: var(--font-1);
  letter-spacing: var(--font-1-spacing);
  font-feature-settings: "tnum" 1;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: transparent;
  border: none;
  font-size: 1rem;
  line-height: 20px;
  text-align: center;
  width: 24px;
}
.c-inputTime__input:first-child {
  text-align: right;
}
.c-inputTime__input:last-child {
  text-align: left;
}
.c-inputTime__separator {
  text-align: center;
  overflow: hidden;
  width: 6px;
}
.c-inputTime:focus-within {
  box-shadow: inset 0 0 0 2px var(--color-border-focus);
}

.c-inputWithIcon {
  position: relative;
}
.c-inputWithIcon .c-inputText {
  padding-left: 44px;
}
.c-inputWithIcon .c-inputText:focus ~ .c-inputWithIcon__icon {
  fill: var(--color-text);
}
.c-inputWithIcon__icon {
  fill: var(--color-text-light);
  height: 24px;
  left: 13px;
  position: absolute;
  top: calc(50% - 12px);
  transition: fill var(--duration-fast);
  width: 24px;
  will-change: fill;
}
.c-inputWithIcon__icon--tailing {
  left: auto;
  right: 13px;
}

.c-languageSelector {
  background: rgba(var(--color-1), 0.25);
  display: none;
  height: 100%;
  left: 0;
  padding: 8px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
}
.c-languageSelector__window {
  background: rgb(var(--color-bg));
  border-radius: var(--border-radius);
  box-shadow: 0 16px 48px rgba(var(--color-1), 0.25);
  padding: 40px;
  flex: 0 1 480px;
  margin: auto;
  max-width: 480px;
  text-align: center;
}
.c-languageSelector__title {
  margin-bottom: 24px;
}
.c-languageSelector__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}
.c-languageSelector__listItem {
  flex: 0 0 33.33333%;
  width: 33.33333%;
}
.c-languageSelector__link {
  border-radius: var(--border-radius);
  display: block;
  padding: 16px;
  text-decoration: none;
}
.c-languageSelector__link:hover, .c-languageSelector__link:focus {
  background: rgb(var(--color-bg-tint));
}
.c-languageSelector__flag {
  box-shadow: 0 2px 4px rgba(var(--color-1), 0.25);
}
.c-languageSelector__language {
  display: block;
  font-size: var(--font-size-s);
  padding-top: 12px;
}
.is-current .c-languageSelector__language {
  font-weight: 700;
}
.c-languageSelector.is-visible {
  display: flex;
}

@-webkit-keyframes locationPickerLocationArrow {
  0% {
    transform: translateY(-8px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes locationPickerLocationArrow {
  0% {
    transform: translateY(-8px);
  }
  100% {
    transform: translateY(0);
  }
}
@-webkit-keyframes locationPickerLabelDone {
  0% {
    transform: scale(0.5);
  }
  75% {
    transform: scale(1.25);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes locationPickerLabelDone {
  0% {
    transform: scale(0.5);
  }
  75% {
    transform: scale(1.25);
  }
  100% {
    transform: scale(1);
  }
}
.c-locationPicker {
  position: relative;
}
@media (max-width: 767px) {
  .c-locationPicker {
    margin-left: -1.5rem;
    margin-right: -1.5rem;
  }
}
.c-locationPicker__tabs {
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 2;
}
.c-locationPicker__tab {
  flex: 0 0 50%;
  position: relative;
}
.c-locationPicker__option {
  height: 1px;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 1px;
}
.c-locationPicker__label {
  align-items: center;
  border-top: 1px solid var(--color-border);
  cursor: pointer;
  display: flex;
  height: 48px;
  justify-content: space-between;
  padding: 0 12px 1px 44px;
  position: relative;
}
@media (min-width: 768px) {
  .c-locationPicker__tab:first-child .c-locationPicker__label {
    border-left: 1px solid var(--color-border);
    border-top-left-radius: var(--border-radius);
  }
  .c-locationPicker__tab:last-child .c-locationPicker__label {
    border-right: 1px solid var(--color-border);
    border-top-right-radius: var(--border-radius);
  }
}
.c-locationPicker__option:checked + .c-locationPicker__label {
  background-color: var(--color-bg-alt);
  border-color: var(--color-bg-alt);
  color: var(--color-text-alt);
}
.c-locationPicker__option:checked + .c-locationPicker__label::after {
  -webkit-animation: locationPickerLocationArrow var(--duration-fast) both ease;
          animation: locationPickerLocationArrow var(--duration-fast) both ease;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid var(--color-bg-alt);
  bottom: -8px;
  content: "";
  width: 0;
  left: 50%;
  margin-left: -8px;
  position: absolute;
  height: 0;
}
.c-locationPicker__option:checked + .c-locationPicker__label .c-locationPicker__labelIcon {
  fill: var(--color-bg);
}
.c-locationPicker__labelIcon {
  fill: var(--color-bg-alt);
  height: 28px;
  left: 0.75rem;
  margin-top: -15px;
  position: absolute;
  top: 50%;
  width: 20px;
}
.c-locationPicker__labelHeading {
  font-weight: 500;
}
.c-locationPicker__labelCoords {
  font-family: var(--font-mono);
  letter-spacing: var(--font-mono-spacing);
  color: var(--color-text-lc);
  font-size: 0.875rem;
  position: relative;
  top: 1px;
}
.c-locationPicker__labelDone {
  -webkit-animation: locationPickerLabelDone var(--duration-medium) both ease;
          animation: locationPickerLabelDone var(--duration-medium) both ease;
  display: none;
  fill: var(--color-success);
  height: 24px;
  width: 24px;
}
.is-done .c-locationPicker__labelDone {
  display: block;
}
.c-locationPicker__mapContainer {
  background: var(--color-bg-tint);
  border-radius: 0 0 var(--border-radius) var(--border-radius);
  height: 0;
  overflow: hidden;
  padding-top: 75%;
  position: relative;
  width: 100%;
  z-index: 1;
}
@media (min-width: 768px) {
  .c-locationPicker__mapContainer {
    border: 1px solid var(--color-border);
    border-top: none;
  }
}
.c-locationPicker__map {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.marker-object {
  background-image: url("/assets/img/markers/object.svg");
  background-size: cover;
  height: 42px;
  display: block;
  width: 30px;
}

.marker-object-directional {
  background-image: url("/assets/img/markers/object-directional.svg");
  background-size: cover;
  height: 42px;
  display: block;
  width: 30px;
}

.marker-observer {
  background-image: url("/assets/img/markers/observer.svg");
  background-size: cover;
  height: 42px;
  display: block;
  width: 30px;
}

.c-meta {
  display: flex;
}
.c-meta__item {
  color: var(--color-text-light);
}
.c-meta__item:not(:last-child) {
  margin-right: 0.375em;
}
.c-meta__item:not(:last-child)::after {
  content: "•";
  display: block;
  float: right;
  margin-left: 0.375em;
  opacity: 0.5;
}
.c-meta__item a {
  color: var(--color-text-light);
  text-decoration: none;
}
.c-meta__item a:hover {
  text-decoration: underline;
}
.c-meta--small {
  font-size: 0.875rem;
}
.c-meta--white .c-meta__item {
  color: rgba(255, 255, 255, 0.66);
}
.c-meta--white .c-meta__item a {
  color: rgba(255, 255, 255, 0.66);
}

.c-pagination {
  display: flex;
  font-weight: 500;
  justify-content: space-between;
}

.c-reportCard {
  border-radius: calc(var(--border-radius) * 2);
  height: 0;
  overflow: hidden;
  padding-top: 75%;
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: 100%;
}
.c-reportCard__image, .c-reportCard__link {
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.c-reportCard__image {
  background-color: #EEE;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.c-reportCard__link {
  background-color: rgba(0, 0, 0, 0.1);
  background-image: url("/assets/img/bg-report-card-link.png");
  background-size: 100% 100%;
  color: transparent;
  transition: 250ms ease;
  will-change: background-color;
}
.c-reportCard__text {
  bottom: 1rem;
  color: #FFF;
  left: 1rem;
  position: absolute;
  right: 1rem;
}
.c-reportCard__title {
  color: #FFF;
  margin-bottom: 0.25rem;
}
.c-reportCard__title a {
  color: #FFF;
}
.c-reportCard:hover .c-reportCard__link {
  background-color: rgba(0, 0, 0, 0);
}

.c-reportForm__number {
  width: 80px;
}

.c-reportListItem {
  align-items: center;
  border-top: 1px solid var(--color-border);
  display: flex;
  padding: 12px 0;
}
.c-reportListItem__flex {
  flex: 1;
}
.c-reportListItem__title {
  color: var(--color-text);
  font-weight: 500;
}
.c-reportListItem__media {
  display: flex;
  font-size: 0.875rem;
}
.c-reportListItem__comments {
  align-items: center;
  color: var(--color-text-light);
  display: flex;
  height: 32px;
  justify-content: center;
  margin-right: 4px;
  padding: 0 8px;
  min-width: 32px;
}
.c-reportListItem__commentsCount {
  display: inline-block;
  margin-right: 6px;
  text-decoration: none;
}
.c-reportListItem__mediaItem {
  border-radius: 50%;
  display: flex;
  height: 32px;
  min-width: 32px;
  pointer-events: none;
}
.c-reportListItem__mediaItem--active {
  background-color: rgba(var(--color-success-rgb), 0.1);
  pointer-events: all;
}
.c-reportListItem__mediaItem--active svg {
  fill: var(--color-success);
  opacity: 1;
}
.c-reportListItem__mediaItem--comments {
  padding-left: 6px;
}
.c-reportListItem__mediaItem:not(:last-child) {
  margin-right: 4px;
}
.c-reportListItem__icon {
  fill: var(--color-text-light);
  height: 18px;
  margin: auto;
  opacity: 0.25;
  width: 18px;
}

.c-reports__dateGroup {
  align-items: flex-start;
  border-top: 1px solid var(--color-border);
  display: flex;
}
.c-reports__dateGroup .c-reportListItem:first-child {
  border-top: none;
}
.c-reports__date {
  color: var(--color-1);
  font-weight: 500;
  padding: 12px 0;
  top: 0;
  width: 40px;
}
.c-reports__list {
  flex: 1;
}
.c-reports__report {
  border-top: 1px solid var(--color-border);
  display: flex;
  padding: 12px 0;
}
.c-reports__reportFlex {
  flex: 1;
}
.c-reports__reportTitle {
  color: var(--color-text);
  font-weight: 500;
}
.c-reports__reportIcons {
  display: flex;
  font-size: 0.875rem;
}
.c-reports__reportIcon {
  height: 16px;
  width: 16px;
}

.c-stats {
  background-color: var(--color-2);
  color: #FFF;
  padding: 3rem 0;
}
.c-stats__value {
  font-family: var(--font-1);
  letter-spacing: var(--font-1-spacing);
  font-feature-settings: "tnum" 1;
  color: var(--color-1);
  font-size: 2.5rem;
  font-variant-numeric: tabular-nums;
  line-height: 1;
  font-weight: 400;
  margin-bottom: 12px;
}

.c-section {
  padding-bottom: 3rem;
  padding-top: 3rem;
}
@media (min-width: 768px) {
  .c-section {
    padding-bottom: 4rem;
    padding-top: 4rem;
  }
}
.c-section--tint {
  background-color: var(--color-bg-tint);
}

.c-top {
  align-items: center;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  height: 88px;
  padding: 0 32px;
}
.c-top__logo {
  align-items: center;
  color: var(--color-text);
  display: flex;
  font-size: 1.125rem;
  font-weight: 600;
}
.c-top__logo:hover {
  text-decoration: none;
}
.c-top__logoIcon {
  fill: var(--color-3);
  height: 40px;
  margin-right: 12px;
  width: 40px;
}
.c-top__logoText {
  position: relative;
  top: -2px;
}
.c-top__nav {
  align-items: center;
  display: none;
}
@media (min-width: 768px) {
  .c-top__nav {
    display: flex;
  }
}
.c-top__menu {
  display: flex;
}
.c-top__menuItem {
  margin-right: 24px;
}
.c-top__menuLink {
  color: var(--color-text-light);
  font-weight: 500;
  transition: color var(--duration-fast);
}
.c-top__menuLink:hover {
  color: var(--color-text);
  text-decoration: none;
}

.u-m-none {
  margin-bottom: 0 !important;
}

.u-m-xxs {
  margin-bottom: 0.125rem !important;
}

.u-m-xs {
  margin-bottom: 0.25rem !important;
}

.u-m-s {
  margin-bottom: 0.5rem !important;
}

.u-m-m {
  margin-bottom: 1rem !important;
}

.u-m-l {
  margin-bottom: 1.5rem !important;
}

.u-m-xl {
  margin-bottom: 2rem !important;
}

.u-m-xxl {
  margin-bottom: 3rem !important;
}

.u-m-3xl {
  margin-bottom: 4rem !important;
}

.u-m-4xl {
  margin-bottom: 5rem !important;
}

.u-m-5xl {
  margin-bottom: 6rem !important;
}

.u-m-6xl {
  margin-bottom: 7rem !important;
}

@media (min-width: 320px) {
  .xs\:u-m-none {
    margin-bottom: 0 !important;
  }

  .xs\:u-m-xxs {
    margin-bottom: 0.125rem !important;
  }

  .xs\:u-m-xs {
    margin-bottom: 0.25rem !important;
  }

  .xs\:u-m-s {
    margin-bottom: 0.5rem !important;
  }

  .xs\:u-m-m {
    margin-bottom: 1rem !important;
  }

  .xs\:u-m-l {
    margin-bottom: 1.5rem !important;
  }

  .xs\:u-m-xl {
    margin-bottom: 2rem !important;
  }

  .xs\:u-m-xxl {
    margin-bottom: 3rem !important;
  }

  .xs\:u-m-3xl {
    margin-bottom: 4rem !important;
  }

  .xs\:u-m-4xl {
    margin-bottom: 5rem !important;
  }

  .xs\:u-m-5xl {
    margin-bottom: 6rem !important;
  }

  .xs\:u-m-6xl {
    margin-bottom: 7rem !important;
  }
}
@media (min-width: 375px) {
  .s\:u-m-none {
    margin-bottom: 0 !important;
  }

  .s\:u-m-xxs {
    margin-bottom: 0.125rem !important;
  }

  .s\:u-m-xs {
    margin-bottom: 0.25rem !important;
  }

  .s\:u-m-s {
    margin-bottom: 0.5rem !important;
  }

  .s\:u-m-m {
    margin-bottom: 1rem !important;
  }

  .s\:u-m-l {
    margin-bottom: 1.5rem !important;
  }

  .s\:u-m-xl {
    margin-bottom: 2rem !important;
  }

  .s\:u-m-xxl {
    margin-bottom: 3rem !important;
  }

  .s\:u-m-3xl {
    margin-bottom: 4rem !important;
  }

  .s\:u-m-4xl {
    margin-bottom: 5rem !important;
  }

  .s\:u-m-5xl {
    margin-bottom: 6rem !important;
  }

  .s\:u-m-6xl {
    margin-bottom: 7rem !important;
  }
}
@media (min-width: 768px) {
  .m\:u-m-none {
    margin-bottom: 0 !important;
  }

  .m\:u-m-xxs {
    margin-bottom: 0.125rem !important;
  }

  .m\:u-m-xs {
    margin-bottom: 0.25rem !important;
  }

  .m\:u-m-s {
    margin-bottom: 0.5rem !important;
  }

  .m\:u-m-m {
    margin-bottom: 1rem !important;
  }

  .m\:u-m-l {
    margin-bottom: 1.5rem !important;
  }

  .m\:u-m-xl {
    margin-bottom: 2rem !important;
  }

  .m\:u-m-xxl {
    margin-bottom: 3rem !important;
  }

  .m\:u-m-3xl {
    margin-bottom: 4rem !important;
  }

  .m\:u-m-4xl {
    margin-bottom: 5rem !important;
  }

  .m\:u-m-5xl {
    margin-bottom: 6rem !important;
  }

  .m\:u-m-6xl {
    margin-bottom: 7rem !important;
  }
}
@media (min-width: 1024px) {
  .l\:u-m-none {
    margin-bottom: 0 !important;
  }

  .l\:u-m-xxs {
    margin-bottom: 0.125rem !important;
  }

  .l\:u-m-xs {
    margin-bottom: 0.25rem !important;
  }

  .l\:u-m-s {
    margin-bottom: 0.5rem !important;
  }

  .l\:u-m-m {
    margin-bottom: 1rem !important;
  }

  .l\:u-m-l {
    margin-bottom: 1.5rem !important;
  }

  .l\:u-m-xl {
    margin-bottom: 2rem !important;
  }

  .l\:u-m-xxl {
    margin-bottom: 3rem !important;
  }

  .l\:u-m-3xl {
    margin-bottom: 4rem !important;
  }

  .l\:u-m-4xl {
    margin-bottom: 5rem !important;
  }

  .l\:u-m-5xl {
    margin-bottom: 6rem !important;
  }

  .l\:u-m-6xl {
    margin-bottom: 7rem !important;
  }
}
@media (min-width: 1280px) {
  .xl\:u-m-none {
    margin-bottom: 0 !important;
  }

  .xl\:u-m-xxs {
    margin-bottom: 0.125rem !important;
  }

  .xl\:u-m-xs {
    margin-bottom: 0.25rem !important;
  }

  .xl\:u-m-s {
    margin-bottom: 0.5rem !important;
  }

  .xl\:u-m-m {
    margin-bottom: 1rem !important;
  }

  .xl\:u-m-l {
    margin-bottom: 1.5rem !important;
  }

  .xl\:u-m-xl {
    margin-bottom: 2rem !important;
  }

  .xl\:u-m-xxl {
    margin-bottom: 3rem !important;
  }

  .xl\:u-m-3xl {
    margin-bottom: 4rem !important;
  }

  .xl\:u-m-4xl {
    margin-bottom: 5rem !important;
  }

  .xl\:u-m-5xl {
    margin-bottom: 6rem !important;
  }

  .xl\:u-m-6xl {
    margin-bottom: 7rem !important;
  }
}
.u-text-xxs {
  font-size: 0.625rem !important;
}

.u-text-xs {
  font-size: 0.75rem !important;
}

.u-text-s {
  font-size: 0.875rem !important;
}

.u-text-m {
  font-size: 1rem !important;
}

.u-text-l {
  font-size: 1.125rem !important;
}

.u-text-xl {
  font-size: 1.5rem !important;
}

.u-text-xxl {
  font-size: 2rem !important;
}

.u-text-3xl {
  font-size: 2.5rem !important;
}

.u-text-4xl {
  font-size: 3rem !important;
}

.u-text-5xl {
  font-size: 4rem !important;
}

.u-text-6xl {
  font-size: 5rem !important;
}

@media (min-width: 320px) {
  .xs\:u-text-xxs {
    font-size: 0.625rem !important;
  }

  .xs\:u-text-xs {
    font-size: 0.75rem !important;
  }

  .xs\:u-text-s {
    font-size: 0.875rem !important;
  }

  .xs\:u-text-m {
    font-size: 1rem !important;
  }

  .xs\:u-text-l {
    font-size: 1.125rem !important;
  }

  .xs\:u-text-xl {
    font-size: 1.5rem !important;
  }

  .xs\:u-text-xxl {
    font-size: 2rem !important;
  }

  .xs\:u-text-3xl {
    font-size: 2.5rem !important;
  }

  .xs\:u-text-4xl {
    font-size: 3rem !important;
  }

  .xs\:u-text-5xl {
    font-size: 4rem !important;
  }

  .xs\:u-text-6xl {
    font-size: 5rem !important;
  }
}
@media (min-width: 375px) {
  .s\:u-text-xxs {
    font-size: 0.625rem !important;
  }

  .s\:u-text-xs {
    font-size: 0.75rem !important;
  }

  .s\:u-text-s {
    font-size: 0.875rem !important;
  }

  .s\:u-text-m {
    font-size: 1rem !important;
  }

  .s\:u-text-l {
    font-size: 1.125rem !important;
  }

  .s\:u-text-xl {
    font-size: 1.5rem !important;
  }

  .s\:u-text-xxl {
    font-size: 2rem !important;
  }

  .s\:u-text-3xl {
    font-size: 2.5rem !important;
  }

  .s\:u-text-4xl {
    font-size: 3rem !important;
  }

  .s\:u-text-5xl {
    font-size: 4rem !important;
  }

  .s\:u-text-6xl {
    font-size: 5rem !important;
  }
}
@media (min-width: 768px) {
  .m\:u-text-xxs {
    font-size: 0.625rem !important;
  }

  .m\:u-text-xs {
    font-size: 0.75rem !important;
  }

  .m\:u-text-s {
    font-size: 0.875rem !important;
  }

  .m\:u-text-m {
    font-size: 1rem !important;
  }

  .m\:u-text-l {
    font-size: 1.125rem !important;
  }

  .m\:u-text-xl {
    font-size: 1.5rem !important;
  }

  .m\:u-text-xxl {
    font-size: 2rem !important;
  }

  .m\:u-text-3xl {
    font-size: 2.5rem !important;
  }

  .m\:u-text-4xl {
    font-size: 3rem !important;
  }

  .m\:u-text-5xl {
    font-size: 4rem !important;
  }

  .m\:u-text-6xl {
    font-size: 5rem !important;
  }
}
@media (min-width: 1024px) {
  .l\:u-text-xxs {
    font-size: 0.625rem !important;
  }

  .l\:u-text-xs {
    font-size: 0.75rem !important;
  }

  .l\:u-text-s {
    font-size: 0.875rem !important;
  }

  .l\:u-text-m {
    font-size: 1rem !important;
  }

  .l\:u-text-l {
    font-size: 1.125rem !important;
  }

  .l\:u-text-xl {
    font-size: 1.5rem !important;
  }

  .l\:u-text-xxl {
    font-size: 2rem !important;
  }

  .l\:u-text-3xl {
    font-size: 2.5rem !important;
  }

  .l\:u-text-4xl {
    font-size: 3rem !important;
  }

  .l\:u-text-5xl {
    font-size: 4rem !important;
  }

  .l\:u-text-6xl {
    font-size: 5rem !important;
  }
}
@media (min-width: 1280px) {
  .xl\:u-text-xxs {
    font-size: 0.625rem !important;
  }

  .xl\:u-text-xs {
    font-size: 0.75rem !important;
  }

  .xl\:u-text-s {
    font-size: 0.875rem !important;
  }

  .xl\:u-text-m {
    font-size: 1rem !important;
  }

  .xl\:u-text-l {
    font-size: 1.125rem !important;
  }

  .xl\:u-text-xl {
    font-size: 1.5rem !important;
  }

  .xl\:u-text-xxl {
    font-size: 2rem !important;
  }

  .xl\:u-text-3xl {
    font-size: 2.5rem !important;
  }

  .xl\:u-text-4xl {
    font-size: 3rem !important;
  }

  .xl\:u-text-5xl {
    font-size: 4rem !important;
  }

  .xl\:u-text-6xl {
    font-size: 5rem !important;
  }
}
.u-text-align-center {
  text-align: center;
}

.u-text-align-left {
  text-align: left;
}

.u-text-align-right {
  text-align: right;
}

.u-text-case-lower {
  text-transform: lowercase;
}

.u-text-case-upper {
  text-transform: uppercase;
}

.u-text-color-hc {
  color: var(--color-text-hc);
}

.u-text-color-lc {
  color: var(--color-text-lc);
}
.u-text-color-lc a {
  color: var(--color-text-lc);
  text-decoration: underline;
}
.u-text-color-lc a:hover {
  color: var(--color-link-hover);
}

.u-text-mask {
  display: inline;
  margin: 0 2px;
  filter: blur(2px);
  opacity: 0.5;
}

.u-text-mono {
  font-family: var(--font-mono);
}

.u-text-size-xxs {
  font-size: 0.625rem;
}

.u-text-size-xs {
  font-size: 0.75rem;
}

.u-text-size-s {
  font-size: 0.875rem;
}

.u-text-size-m {
  font-size: 1rem;
}

.u-text-size-l {
  font-size: 1.125rem;
}

.u-text-size-xl {
  font-size: 1.5rem;
}

.u-text-size-xxl {
  font-size: 2rem;
}

.u-text-size-3xl {
  font-size: 2.5rem;
}

.u-text-size-4xl {
  font-size: 3rem;
}

.u-text-size-5xl {
  font-size: 4rem;
}

.u-text-size-6xl {
  font-size: 5rem;
}

.u-text-trunc {
  display: block;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}
