body {
    @include font-1;
    color: rgb(var(--color-text));
    line-height: line-height(m);
    text-rendering: optimizelegibility;

    &.is-loading,
    &.is-loading * {
        cursor: wait;
        pointer-events: none;
    }
}