h1 {
    color: rgb(var(--color-1));
    font-size: var(--font-size-xl);
    font-weight: 700;
    letter-spacing: -0.025em;
    line-height: var(--line-height-s);

    @include screen-min(m) {
        font-size: 40px;
    }
}