.c-inputDate {
    display: flex;

    .c-inputSelect {
        z-index: 1;

        &:nth-child(1) {
            border-bottom-right-radius: 0;
            border-top-right-radius: 0;
            margin-right: -1px;
            width: 80px;
        }

        &:nth-child(2) {
            border-radius: 0;
            flex: 1;
            margin-right: -1px;
        }

        &:nth-child(3) {
            border-bottom-left-radius: 0;
            border-top-left-radius: 0;
            width: 100px;
        }

        &:focus-within {
            z-index: 4;
        }
    }
}