.c-inputDuration {
    display: flex;

    .c-inputText {
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
        margin-right: -1px;
        position: relative;
        width: 80px;
        z-index: 1;

        &:focus {
            z-index: 3;
        }
    }

    .c-inputSelect {
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
        flex: 1;
        z-index: 2;

        &:focus-within {
            z-index: 3;
        }
    }
}