.c-inputTextarea {
    @include ligatures(none);
    @include tabular-numbers;
    appearance: none;
    background-color: var(--color-bg);
    border: none;
    border-radius: var(--input-border-radius);
    border: 1px solid var(--input-color-border);
    box-shadow: 0 0 0 3px transparent;
    color: color(text);
    display: block;
    font-family: var(--font-1);
    font-size: font-size(m);
    line-height: line-height(m);
    padding: 13px;
    resize: none;
    transition: var(--duration-fast);
    width: 100%;

    &--condensed {
        padding: 9px 13px;
    }

    &:hover {
        border-color: var(--input-color-border-hover);
    }

    &:focus {
        border-color: var(--input-color-border-focus);
        box-shadow: 0 0 0 3px var(--input-color-outline);
    }

    .is-error &,
    &.is-error {
        border-color: var(--input-color-border-error);
    }
}