.c-inputTime {
    @include tabular-numbers;
    align-items: center;
    background: var(--color-bg);
    border-radius: var(--border-radius);
    box-shadow: inset 0 0 0 1px var(--color-border);
    display: flex;
    height: 48px;
    justify-content: center;
    width: 80px;

    &__input {
        @include font-1;
        @include tabular-numbers;
        appearance: none;
        background: transparent;
        border: none;
        font-size: font-size(m);
        line-height: 20px;
        text-align: center;
        width: 24px;

        &:first-child {
            text-align: right;
        }

        &:last-child {
            text-align: left;
        }
    }

    &__separator {
        text-align: center;
        overflow: hidden;
        width: 6px;
    }

    &:focus-within {
        box-shadow: inset 0 0 0 2px var(--color-border-focus);
    }
}