.c-inputWithIcon {
    position: relative;

    .c-inputText {
        padding-left: 44px;

        &:focus ~ .c-inputWithIcon__icon {
            fill: var(--color-text);
        }
    }

    &__icon {
        fill: var(--color-text-light);
        height: 24px;
        left: 13px;
        position: absolute;
        top: calc(50% - 12px);
        transition: fill var(--duration-fast);
        width: 24px;
        will-change: fill;

        &--tailing {
            left: auto;
            right: 13px;
        }
    }
}